body {
    background-color: #dee2e6;
    font-family: Arial, sans-serif;
}

.table{
    border-collapse: collapse;
    width : 100%;
    margin-bottom: 100px;
    margin-top: 10px;
}

th,td{
    text-align: center;
}


.empty{
    text-align: center;
    margin-bottom: 100px;
}

.table_titles{
    margin-top: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40 !important; /* Dark background for navbar */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #ffffff !important;
}

.dropdown-menu:hover {
    background-color: #343a40;
}

.dropdown-item:hover {
    color: #494545 !important; 
}

/* Additional custom styles */
header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #212529;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.container:hover {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

/* Style for the fixed scroll bar */
.scroll-bar {
    margin-top: 30px;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    white-space: nowrap; /* Prevent line breaks */
  }
  
  /* Style for the title */
  .scroll-bar h1 {
    margin: 5px;
    font-size: 20px;
    text-align: center;
    animation: scrollText 10s linear infinite; /* Adjust duration as needed */
  }
  
  /* Animation for infinite scrolling */
  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }