body{
    background-color: #dee2e6;
}

.navbar {
    background-color: #343a40 !important; /* Dark background for navbar */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #ffffff !important;
}

.dropdown-menu:hover {
    background-color: #343a40;
}

.dropdown-item:hover {
    color: #494545 !important; 
}

nav {
    background-color: #212529;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.input_form{
    text-align: center;
    border: 1px solid;
    width : 400px;
    margin-top: 50px;
    margin-left: 600px;
    font-size: large;
}

.form_items{
    margin: 20px;
}

.input_form h1{
    display: inline-block;
    margin-bottom: 30px;
}

#submit{
    width: 100px;
}

header h1{
    display: inline-block;
    margin-top: 20px;
    margin-left: 550px;
    font-size: 50px;
}

.form-top{
    text-align: center;
    margin-top: 15px;
}

#error{
    display: inline-block;
    margin-top: 20px;
    margin-left: 500px;
}

.return-buttons{
    margin-top: 20px;
    margin-left: 140px;
}

.scroll-bar {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    white-space: nowrap; /* Prevent line breaks */
  }
  
  /* Style for the title */
  .scroll-bar h2 {
    animation: scrollText 10s linear infinite; /* Adjust duration as needed */
  }
  
  /* Animation for infinite scrolling */
  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }