body{
    background-color: #dee2e6;
}

header{
    background-color: #343a40;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.headings{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.container{
    margin-top: 50px;
    padding-bottom: 30px;
}

.contents{
    background-color: #343a40;
    color: white;
    margin: 70px;
}

.empty{
    text-align: center;
    padding-bottom: 40px;
}

.icons{
    margin-left: 15px;
}
