.input_form{
    text-align: center;
    border: 1px solid;
    width : 400px;
    margin-top: 50px;
    margin-left: 600px;
    font-size: large;
}

.form_items{
    margin: 20px;
}

.input_form h1{
    margin-bottom: 30px;
}

#submit{
    width: 100px;
}

header h1{
    display: inline-block;
    margin-top: 20px;
    margin-left: 550px;
    font-size: 50px;
}

.form-top{
    display: inline-block;
    margin-top: 15px;
    margin-left: 120px;
}

#error{
    display: inline-block;
    margin-top: 20px;
    margin-left: 500px;
}