<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Information Portal</title>
</head>
<body>
    <h1>{{event['title']}}</h1>
    <h1>{{event['description']}}</h1>
    <img src="{{event['enclosure']['@url']}}" alt="disaster image not found">
    <h1>{{event['gdacs:eventname']}}</h1>
    <h1>{{event['pubDate']}}</h1>
    <h1>{{event['gdacs:fromdate']}}</h1>
    <h1>{{event['gdacs:todate']}}</h1>
    <img src="{{event['gdacs:icon']}}" alt="disaster icon not found">
    <h1>{{event['gdacs:alertscore']}}</h1>
    <h1>{{event['gdacs:population']}}</h1>
    <h1>{{event['gdacs:severity']}}</h1>
    <h1>{{event['gdacs:resources']}}</h1>
    <h1>{{event['gdacs:durationinweek']}}</h1>
</body>
</html>